// Core js
script(src='js/lib/jquery.js')
script(src='bs3/js/bootstrap.min.js')
script.include(type='text/javascript', src='js/accordion-menu/jquery.dcjqaccordion.2.7.js')
script(src='js/scrollTo/jquery.scrollTo.min.js')
script(src='assets/jQuery-slimScroll-1.3.0/jquery.slimscroll.js')
script(src='js/nicescroll/jquery.nicescroll.js')
// Easy Pie Chart
script(src='assets/easypiechart/jquery.easypiechart.js')
// Sparkline Chart
script(src='assets/sparkline/jquery.sparkline.js')
// jQuery Flot Chart
script(src='assets/flot-chart/jquery.flot.js')
script(src='assets/flot-chart/jquery.flot.tooltip.min.js')
script(src='assets/flot-chart/jquery.flot.resize.js')
script(src='assets/flot-chart/jquery.flot.pie.resize.js')
// dynamic table
script(type='text/javascript', language='javascript', src='assets/advanced-datatable/media/js/jquery.dataTables.js')
script(type='text/javascript', src='assets/data-tables/DT_bootstrap.js')

// Chart JS
script(src='assets/chart-js/Chart.js')
script(src='js/chartjs/chartjs.init.js')
// common script init for all pages
script(src='js/scripts.js')

// dynamic table initialization
script(src='js/dynamic_table/dynamic_table_init.js')