aside
    #sidebar.nav-collapse
        // sidebar menu start
        .leftside-navigation
            ul#nav-accordion.sidebar-menu
                li
                    a.active(href='profit.html')
                        i.fa.fa-dashboard
                        span 账户概况
                li.sub-menu
                    a(href='account.html')
                        i.fa.fa-laptop
                        span 账户管理
                li.sub-menu
                    a(href='account_stock.html')
                        i.fa.fa-book
                        span 股票管理
                li
                    a(href='login.html')
                        i.fa.fa-user
                        span 退出